
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =ABOUT page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div#about {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #333;
}

div#about div {
  margin-left: auto;
  margin-right: auto;
}

div#about h1 { font-size: 2em; font-weight: 400; }
div#about h2 { font-size: 1.6em; font-weight: 400; }
div#about .question { font-weight:bold; }

div#about .about-nav {
  width: 70%;
  text-align: right;
}

div#about .about-title {
  width: 70%;
  text-align: center;
}

div#about .section-title {
  width: 70%;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
}

div#about .section-content {
  width: 70%;
  text-align: left;
}

div#about ul,
div#about ol {
  margin-left: 40px;
  padding: 0;
}

div#about li {
  padding: .5em 0;
}



