
/*~~~~~~~~~~~~~~~~~~ main content pane ~~~~~~~~~~~~~~~~~~*/

/* optional class to buffer main content */
div.buffered-content {
  margin: 6px;
  border: 1px solid #0B4796;
  padding: 6px;
  text-align: left;
}

/* clear record-specific style and use
   buffered-content like the rest of the site */
div.Workspace {
  border: 0;
  margin: 0;
  padding: 0;
}

p.indented {
  margin-left: 11px;
}

/*~~~~~~~~~~~~~ Proteome Upload Form ~~~~~~~~~~~~~*/

div.prot-upload {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
  line-height: 1.2;
}

div.prot-upload h2 {
  text-align: center;
  margin: 8px 0 15px 0;
}

div.prot-upload p {
  margin: 0 0 11px 22px;
}

div.prot-upload ul {
  margin: 5px 0 5px 33px;
  list-style: inside disc;
}

div.prot-upload .indent3 {
  margin-left: 33px;
}

div.prot-upload #upload-form {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =grey MENUBAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#menu {clear:both; position:relative; z-index:11;}
#menu > ul.menu {float:none;}
#menu #favorite-menu {float:right;}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =SEARCH page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#query-description-section { font-size: 12pt; margin: 10px; }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =Contact modal popup 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.contact-us ul {
  list-style: disc outside none;
  margin: 1em 0em;
  padding-left: 1em;
}

.contact-us td {
  vertical-align: top;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =ABOUT page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div#about {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

div#about div {
  margin-left: auto;
  margin-right: auto;
}

div#about h1 { font-size: 28px; }
div#about h2 { font-size: 16px; }
div#about p { margin: 15px; }
div#about .question { font-weight:bold; }

div#about .about-nav {
  width: 70%;
  text-align: right;
}

div#about .about-title {
  width: 70%;
  text-align: center;
}

div#about .section-title {
  width: 70%;
  padding: 6px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

div#about .section-title a {
  float: right;
}

div#about .section-content {
  width: 65%;
  padding: 15px;
  font-size: 14px;
  text-align: left;
}

div#about ol {
  margin-left: 40px;
  list-style-position: outside;
  list-style-type: decimal;
}

div#about li {
  padding-top: 5px;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =ERROR page (WEB-INF/jsp/error.jsp)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#error-main {
  width: 100%;
  text-align: center;
  margin: 30px 8px;
}

#error-main h1 {
  font-size: 32px;
}

#error-main p {
  margin: 15px auto 10px auto;
  font-size: 16px;
  text-align: center;
  width: 550px;
}

#error-main .error-image {
  width: 230px;
  margin: 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;  
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =FOOTER     using also css from AllSites.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#footer { padding: 5px;}
#footer #copyright { float: left; padding: 10px; }
#footer #contact { float: right; text-align: right; font-size:120%;}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      =HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#header2 {min-width:975px; clear:both;}

div#header2 .ui-widget-content {
  background:0;
  border:0;
}

#header-control {float:right; text-align: right; margin: 7px; }
#header2 #quick-search, #header2 #tool-sets { margin: 5px; }
#header2 #quick-search input.search-box { width: 100px; }
#header2 #site-logo a {font:bold 50pt Georgia,serif; color:#3333FF; text-decoration:none;}


table#quick-search a {
  font-size:120%;
}


