.group-layout .layout-data { display:none; }
.group-layout .canvas .background { fill:#EEEEEE; }

.group-layout .canvas .edges line { stroke-width:2px; }
.group-layout .canvas .edges.Ortholog { stroke:red; }
.group-layout .canvas .edges.Coortholog { stroke:yellow; }
.group-layout .canvas .edges.Inparalog { stroke:#00CC00; }
.group-layout .canvas .edges.Normal { stroke:gray; }

.group-layout .canvas circle { } 
