#sidebar { float: left; width: 230px; margin: 40px 5px 5px 5px; }
#sidebar .ui-accordion-header a {font-size:14px; color:white;
	background-image: url("/assets/images/OrthoMCL/menu_lft2.png"); 

}


#site-title, #site-intro { text-align: center; }
#site-title { padding: 10px; font-weight: bold; font-size: 16pt; }
#site-intro { font-size: 12pt; width: 690px; padding: 5px; overflow: auto; margin: 0px auto;}
#site-intro p { margin: 5px; }

#search-bubbles { text-align: center; }
#search-bubbles > ul, #search-bubbles > ul > li { display: inline-table; }
#search-bubbles > ul > li { width: 200px; margin: 20px; padding: 2px;}
#search-bubbles > ul > li > a { font-size: 12pt; padding: 5px; } 
#search-bubbles > ul > li > ul { text-align: left; font-size: 10pt; padding: 3px; }
#search-bubbles > ul > li > ul ul { margin: 0px 0px 3px 20px;  }
#search-bubbles > ul > li > ul li { padding: 2px; }
#search-bubbles > ul > li > ul a { padding-left: 15px; }

#search-bubbles > ul > li > ul a.category { font-weight: bold; cursor: pointer; background:url(../images/square-plus.gif) 0px 2px no-repeat; }
#search-bubbles > ul > li > ul a.category.opened { background:url(../images/square-minus.gif) 0px 2px no-repeat; }
