#domains .domain .legend {width:200px;}

#domains .domain .legend div, #proteins .protein .domains .domain > div {height:4px;}

#domains .domain .legend div:first-child,
#proteins .protein .domains .domain > div:first-child
{height:4px; border-radius: 5px 5px 0 0;}

#domains .domain .legend div:last-child,
#proteins .protein .domains .domain > div:last-child
{height:4px; border-radius: 0 0 5px 5px;}

#proteins .protein .domains {position:relative;}

#proteins .protein .domains .protein-graph {margin:7px 0px; background-color:#333333; height:5px;}

#proteins .protein .domains .domain {top:-6px; position:absolute; display:block;}

#proteins .protein .domains .domain > div {min-width:5px;}
