<?xml version="1.0" encoding="UTF-8" ?>

<modelConfig modelName="OrthoMCL"
             webServiceUrl="http://localhost:9580/orthomcl/services/WsfService"
             smtpServer="127.0.0.1"
             supportEmail="help@orthomcl.org"
             secretKeyFile="/usr/local/tomcat_instances/shared/.apidb_wdk_key"
             >

 <queryMonitor
             baseline=".1"
             slow="2"
             />

    <appDb  login=""
            password=""
            connectionUrl="jdbc:oracle:oci:@orth000"
            platform="Oracle"
            maxActive="20"
            maxIdle="10"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userDbLink="@devS.login_comment" 
            />
             
    <userDb login=""
            password=""
            connectionUrl="jdbc:oracle:oci:@apicommDevS"
            platform="Oracle"
            maxActive="20"
            maxIdle="1"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userSchema="userlogins3."
            wdkEngineSchema="wdkengine." 
            />
           
    <emailSubject>
         <![CDATA[
            Your OrthoMCL Password
         ]]>
    </emailSubject>
    <emailContent>
        <![CDATA[
        <p>Thank you for registering at Orthomcl.org.</p>
        <p>Your temporary password is: $$PASSWORD$$</p>
        <p>You may now login to <a href="http://orthomcl.org">OrthoMCL</a>.</p>
           <p>Thank you,</p>
           <p>OrthoMCL</p>

        ]]>
    </emailContent>
</modelConfig>

