# This file contains macros used in model.xml
# example: 
PROJECT_ID = OrthoMCL

SITE_ADMIN_EMAIL=mheiges@uga.edu, aurreco@uga.edu

BLASTDB_PREFIX=/var/www/Common/prodSiteFilesMirror/webServices/OrthoMCL/release-

#
# The file needs to exist in gus_home/config/PROJECT_ID/
# even if it is empty.
#
# Current OrthoMCL model.xml is not making use of any macros.
#

