#legend {
    float: right;
    overflow: visible;
}

#legend .count span {
    width: 20px;
}

#taxon-tree #tree-data {
    display: none;
}

#taxon-tree #container {
    position: absolute;
    overflow: visible;
    display: none;
    cursor: move;
    border: 3px groove black;
    background: #BABAFA;
}

#taxon-tree #container #close-handle {
    cursor: pointer;
}

#taxon-tree #tree-display {
    overflow: auto;
    width: 250px;
    height: 500px;
}

#taxon-tree #tree-display .children {
    margin-left: 20px;
}

#taxon-tree #tree-display .handle {
    cursor: pointer;
}

#result {
    clear: both;
}

#groups .group[even="true"] {
    background-color:#DCDCDC;
}

#groups .group .phyletic-pattern {
    clear: both;
}

#groups .group .count-data {
    display: none;
}

#taxon-tree #tree-display .node .name, #groups .group .phyletic-pattern .node .count {
    border-bottom: 3px solid white;
}

#taxon-tree #tree-display .node[taxon="BACT"] .name, #groups .group .phyletic-pattern .branch[taxon="BACT"] .node .count { border-bottom-color: #FF33cc; }
#taxon-tree #tree-display .node[taxon="FIRM"] .name, #groups .group .phyletic-pattern .branch[taxon="FIRM"] .node .count { border-bottom-color: #cc0000; }
#taxon-tree #tree-display .node[taxon="PROT"] .name, #groups .group .phyletic-pattern .branch[taxon="PROT"] .node .count { border-bottom-color: #cc00ff; }
#taxon-tree #tree-display .node[taxon="ARCH"] .name, #groups .group .phyletic-pattern .branch[taxon="ARCH"] .node .count { border-bottom-color: #ff9900; }
#taxon-tree #tree-display .node[taxon="EUKA"] .name, #groups .group .phyletic-pattern .branch[taxon="EUKA"] .node .count { border-bottom-color: #66ffff; }
#taxon-tree #tree-display .node[taxon="PLAL"] .name, #groups .group .phyletic-pattern .branch[taxon="PLAL"] .node .count { border-bottom-color: #009933; }
#taxon-tree #tree-display .node[taxon="KINE"] .name, #groups .group .phyletic-pattern .branch[taxon="KINE"] .node .count { border-bottom-color: #3399ff; }
#taxon-tree #tree-display .node[taxon="ALVE"] .name, #groups .group .phyletic-pattern .branch[taxon="ALVE"] .node .count { border-bottom-color: #3300cc; }
#taxon-tree #tree-display .node[taxon="FUNG"] .name, #groups .group .phyletic-pattern .branch[taxon="FUNG"] .node .count { border-bottom-color: #ccff33; }
#taxon-tree #tree-display .node[taxon="META"] .name, #groups .group .phyletic-pattern .branch[taxon="META"] .node .count { border-bottom-color: #33ff00; }

#groups .group .phyletic-pattern .node {
    text-align: center;
    width: 26px;
    height: 26px;
    font-family: sans-serif, serif;
    font-size: 7pt;
    float: left;
    overflow: hidden;
    margin-bottom: 1px;
    margin-right: 1px;
    line-height: normal;
    border: 1px solid black;
    border-bottom-size: 0px;
}

#groups .group .phyletic-pattern .node .name {
    color: black;
    background-color: white;
    height: 12px;
}

#legend .count span,            #groups .group .phyletic-pattern .node .count {
    background-color: black;
    color: white;
    height: 11px;
}

#legend .count span[count="0"], #groups .group .phyletic-pattern .node[count="0"] .count {
    background-color: white;
    color: black;
}

#legend .count span[count="1"], #groups .group .phyletic-pattern .node[count="1"] .count {
    background-color: #ABABAB;
    color: black;
}

#groups .group .phyletic-pattern .description {
    display: none;
    position: absolute;
    max-width: 300px;
    border: 1px solid #A99B45;
    color: black;
    background-color: #FAFB98;
}

#groups .group .group-detail {
    clear: both;
}
