
H1 {
   font-style : normal; 
   font-weight : bold; 
   font-size : 14pt; 
   font-family : lucida sans unicode, lucida, Verdana, Tahoma, Arial, helvetica, sans-serif; 
   color : #326495; 
   text-align : left; 
   margin-top : 0.5cm; 
   margin-bottom : 0.1cm; 
   margin-left : 0.5cm;
   margin-right : 1cm;
}

A.nocolor_b:link {
   text-decoration : none; color: black;
}

A.nocolor:link {
   text-decoration : none; color: black;
}

A.nocolor_w:link {
   text-decoration : none; color: white;
}
.node-highlight {
    font-weight: bold;
}

.node-normal {
    font-weight: normal;
}

.node-region {
    text-align: left;
    background-color: #CCCCCC;
}

.node-indent {
    margin-left: 20px;
    display: block;
}

.phyletic-category {
    background-color: #eeeeee;
    vertical-align: middle;
    white-space: nowrap;
}

.phyletic-category * div {
    text-align: center;
    vertical-align: middle;
    font-size: 8px;
    font-family: times;
    margin: 0px;
    margin-right: 1px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 26px;
}

.phyletic-category * .zero {
    background-color: white;
    color: black;
}

.phyletic-category * .one {
    background-color: #bbbbbb;
    color: black;
}

.phyletic-category * .two {
    background-color: #606060;
    color: white;
}

.phyletic-category * .more {
    background-color: black;
    color: white;
}

.phyletic-category * .handle {
    border-style: none;
    border-width: 0px;
    width: 20px;
}

.phyletic-category * .closure {
    font-weight: 100;
    color: #777777;
}
