h1 {
   font-style : normal; 
   font-weight : bold; 
   font-size : 14pt; 
   font-family : lucida sans unicode, lucida, Verdana, Tahoma, Arial, helvetica, sans-serif; 
   color : #326495; 
   text-align : left; 
   margin-top : 0.5cm; 
   margin-bottom : 0.1cm; 
   margin-left : 0.5cm;
   margin-right : 1cm;
}

a.nocolor_b:link {
   text-decoration : none; color: black;
}

a.nocolor:link {
   text-decoration : none; color: black;
}

a.nocolor_w:link {
   text-decoration : none; color: white;
}
.node-highlight {
    font-weight: bold;
}

.node-normal {
    font-weight: normal;
}

.sequence {
    font-family: Courier New, monospace;
}

.legend {
    font-size:small;
}

.phyletic-tree {
    text-align: left;
    background-color: #CCCCCC;
    font-family: sans-serif, serif;
}

.phyletic-tree table {
    margin: 0;
    padding: 0;
}

.phyletic-tree .indent, * .indent {
    margin-left: 20px;
    display: block;
}

.phyletic-tree * .species-region {
    position: absolute;
    left: 450px;
}

.phyletic-tree * .species {
    background-color: #DDDDDD;
    width: 55px;
    white-space: nowrap;
}

.phyletic-category {
    background-color: #cccccc;
}

.phyletic-category * td {
    margin: 0px;
    padding: 0px;
}

.phyletic-category * div {
    text-align: center;
    font-size: x-small;
    font-family: sans-serif, serif;
    margin: 0px;
    padding: 0px;
    border-width: 2px;
    border-style: solid;
    width: 26px;
    background-color: #FFFFFF;
}

.phyletic-category *[index="0"] { border-color: #FF3333; }
.phyletic-category *[index="0"][count="many"] { background-color: #FF3333; }
.phyletic-category *[index="0"][count="1"] { background-color: #FF9999; }

.phyletic-category *[index="1"] { border-color: #AA44FF; }
.phyletic-category *[index="1"][count="many"] { background-color: #AA44FF; }
.phyletic-category *[index="1"][count="1"] { background-color: #DDAAFF; }

.phyletic-category *[index="2"] { border-color: #33CC33; }
.phyletic-category *[index="2"][count="many"] { background-color: #33CC33; }
.phyletic-category *[index="2"][count="1"] { background-color: #99FF99; }

.phyletic-category *[index="3"] { border-color: #33CCCC; }
.phyletic-category *[index="3"][count="many"] { background-color: #33CCCC; }
.phyletic-category *[index="3"][count="1"] { background-color: #99FFFF; }

.phyletic-category *[index="4"] { border-color: #7777FF; }
.phyletic-category *[index="4"][count="many"] { background-color: #7777FF; }
.phyletic-category *[index="4"][count="1"] { background-color: #BBBBFF; }

.phyletic-category *[index="5"] { border-color: #FF33FF; }
.phyletic-category *[index="5"][count="many"] { background-color: #FF33FF; }
.phyletic-category *[index="5"][count="1"] { background-color: #FF99FF; }

.phyletic-category *[index="6"] { border-color: #FF9933; }
.phyletic-category *[index="6"][count="many"] { background-color: #FF9933; }
.phyletic-category *[index="6"][count="1"] { background-color: #FFCC99; }

.phyletic-category *[index="7"] { border-color: #99DD33; }
.phyletic-category *[index="7"][count="many"] { background-color: #99DD33; }
.phyletic-category *[index="7"][count="1"] { background-color: #CCFF77; }

.phyletic-category *[index="8"] { border-color: #33EE99; }
.phyletic-category *[index="8"][count="many"] { background-color: #33EE99; }
.phyletic-category *[index="8"][count="1"] { background-color: #88FFCC; }

.phyletic-category *[index="9"] { border-color: #3399FF; }
.phyletic-category *[index="9"][count="many"] { background-color: #3399FF; }
.phyletic-category *[index="9"][count="1"] { background-color: #99CCFF; }

