
H1 {
   font-style : normal; 
   font-weight : bold; 
   font-size : 14pt; 
   font-family : lucida sans unicode, lucida, Verdana, Tahoma, Arial, helvetica, sans-serif; 
   color : #326495; 
   text-align : left; 
   margin-top : 0.5cm; 
   margin-bottom : 0.1cm; 
   margin-left : 0.5cm;
   margin-right : 1cm;
}

A.nocolor_b:link {
   text-decoration : none; color: black;
}

A.nocolor:link {
   text-decoration : none; color: black;
}

A.nocolor_w:link {
   text-decoration : none; color: white;
}
.node-highlight {
    font-weight: bold;
}

.node-normal {
    font-weight: normal;
}

.node-region {
    text-align: left;
    background-color: #CCCCCC;
}

.node-indent {
    margin-left: 20px;
    display: block;
}

.phyletic-category {
    background-color: #cccccc;
}

.phyletic-category * div {
    text-align: center;
    font-size: x-small;
    font-family: "sans serif", times;
    margin: 0px;
    padding: 0px;
    border-width: 3px;
    border-style: hidden;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 26px;
}

.phyletic-category * td {
    margin: 0px;
    padding: 1px;
}

.phyletic-category * .BACT {
    border-color: #ff8800;
}

.phyletic-category * .ARCH {
    border-color: #5555ff;
}

.phyletic-category * .EUKA {
    border-color: #88ff00;
}

.phyletic-category * .OTHER {
    border-color: #ff0088;
}

.phyletic-category * .BACT_start {
    border-left-style: solid;
    border-color: #ff8800;
    width: 23px;
}

.phyletic-category * .BACT_end {
    border-right-style: solid;
    border-color: #ff8800;
    width: 23px;
}

.phyletic-category * .ARCH_start {
    border-left-style: solid;
    border-color: #5555ff;
    width: 23px;
}

.phyletic-category * .ARCH_end {
    border-right-style: solid;
    border-color: #5555ff;
    width: 23px;
}
.phyletic-category * .EUKA_start {
    border-left-style: solid;
    border-color: #88ff00;
    width: 23px;
}

.phyletic-category * .EUKA_end {
    border-right-style: solid;
    border-color: #88ff00;
    width: 23px;
}
