#info1, #info2, #info3 {
  fill: blue;
}

#info1, #info2 {
  font-weight: bold;
}

line {
    stroke-width: 2;
}

circle {
   stroke-width: 1;
   stroke: black;
}

#Ortholog line {
    stroke: red;
}

#Coortholog line {
    stroke: yellow;
}

#Inparalog line {
    stroke: #33FF33;
}

#Normal line {
    stroke: #555555;
}

