######################################################################################################
# Properties for the local web server.   For cluster properties see orthomclProtomeServiceCluster.prop
######################################################################################################

# Full URL for orthmclresult action.
# Used by service to include a link for results in user's email.
# resultBaseUrl= http://sfischer.orthomcl.org/orthomcl.sfischer/proteomeDownload.do?jobId=
resultBaseUrl= http://@@ORTHO_WEBSITE@@/orthomcl/proteomeDownload.do?jobId=

# Directory for final zipped results available for user download.
# This directory is the same for all service queues and builds.
resultsDir=/var/www/Common/orthomcl-mapping-service/results

# email to receive "server error" and other notifications requiring attention
adminEmail=@@ADMIN_EMAIL@@

# read by upload form. set to 1 to prevent users from starting new jobs (web app will put up notice)
uploadIsOffline=@@UPLOAD_OFFLINE@@

# properties for downloading results
purgeWindow=60

##############################################################################
# these change with each OrthoMCL Release
##############################################################################

# OrthoMCL groups file on webserver. This is the same file that is made available for download
# so can just use that. The OrthoMCLShared/MapProteomeService/bin/orthomclMapProteomeToGroups 
# script uses this.
groupsFile=/var/www/Common/apiSiteFilesMirror/downloadSite/OrthoMCL/release-@@ORTHO_BUILD_NO@@/groups_OrthoMCL-@@ORTHO_BUILD_NO@@.txt.gz


##############################################################################
# Webserver directories. These are static across releases.
##############################################################################

# location of NCBI's formatdb command on webserver
formatdbBinDir=/opt/ncbi-blast2/bin

# location of mcl command on webserver
mclBin=@@MCL_BIN@@

