<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>The configuration file for NCBI-BLAST Processor.</comment>

<entry key="AppPath">(the absolute path to the bin directory of your NCBI-BLAST application)</entry>
<entry key="DatabasePath">(the absolute path to BLAST database directory)</entry>
<entry key="TempPath">(the temporary path for BLAST to make input files and save output files)</entry>
<entry key="Timeout">(time out limit, in seconds)</entry>

</properties>
