<div id="header">
  <img src="images/masthead.jpg" alt="OrthoMCL Database: Ortholog Groups of Protein Sequences" width="865" height="110">
</div>
<div id="menuwrap"><div align="center">
  <div id="menuright"><img src="images/menu_rt.gif" width"5" height="22"></div>
  <div id="menuleft"><img src="images/menu_lt.gif" width"5" height="22"></div>
  <div id="menumain">
    <ul id="menubar">
      <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=indx" class="border">Home</a></li>
      <li><a class="trigger" href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl">About OrthoMCL </a>
        <ul>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Background">Background</a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Software">Software</a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Publication">Publication</a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Contact">Contact</a></li>
        </ul>
      </li>
      <li><a class="trigger" href="cgi-bin/OrthoMclWeb.cgi?rm=genome">Database</a>
        <ul>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=genome&type=data">Data Sources</a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=genome&type=summary">Release Summary</a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#FAQ">FAQ</a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Download">Download</a></li>
        </ul>
      </li>
      <li><a class="trigger" href="#">Search</a>
        <ul>
          <li> Search Sequence</li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm&type=ackeyword"><img src="images/arrow_rt.gif" width="14" height="9" border="0">By Accession / Keyword </a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm&type=blast"><img src="images/arrow_rt.gif" width="14" height="9" border="0">By BLAST Search </a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryHistory"><img src="images/arrow_rt.gif" width="14" height="9" border="0">History</a></li>
          <li>Search Group </li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ackeyword"><img src="images/arrow_rt.gif" width="14" height="9" border="0">By Accession / Keyword </a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppform"><img src="images/arrow_rt.gif" width="14" height="9" border="0">By Phyletic Pattern </a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppexpression"><img src="images/arrow_rt.gif" width="14" height="9" border="0">By Phyletic Pattern - Advanced </a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=property"><img src="images/arrow_rt.gif" width="14" height="9" border="0">By Group Properties </a></li>
          <li><a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryHistory"><img src="images/arrow_rt.gif" width="14" height="9" border="0">History</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div></div>
