
<TMPL_INCLUDE header.tmpl>

<!-- BEGIN CONTENT -->



<TABLE width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
<TMPL_IF ERROR>
 <tr><td colspan="2"><font color="red"><TMPL_VAR ERROR></font></td></tr>
</TMPL_IF>

     <tr>
       <td colspan="2"> <br><H3>Protein Domain Architecture for group <font color="red"><TMPL_VAR NAME="GROUP_ACCESSION"></font><H3></td>
     </tr>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>

<!-- LIST OF DOMAINS START -->
<!--     <tr>
       <td colspan="2"><br><font color=red>Please note: Pfam data is in the updating process. If you find any sequence which doesn't have any Pfam domain, it's possible that hmmpfam search hasn't run on that sequence.</font><br></td>
     </tr>
-->
  <TMPL_IF NAME="NOPFAM">
     <tr>
       <td colspan="2"><br> There is no Pfam domain identified for this group. <br><br></td>
     </tr>
  <TMPL_ELSE>

     <tr>
       <td colspan="2"><br> List of Domains (present in this group) <br><br></td>
     </tr>
     <tr>
       <td width="50"></td>
       <td width="850">
       <table border="1">
       <tr bgcolor="#aaaaaa">
         <th align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Accession</th>
         <th align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Name</th>
         <th align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Description</th>
         <th align="left" bgcolor="#444488"><FONT COLOR="#ffffff">Legend</th>
       </tr>
<TMPL_LOOP NAME="LOOP_DOMAIN">
       <tr bgcolor="#ffffff">
         <td align="center"><a href="javascript:window.open('<TMPL_VAR DOMAIN_LINK>');void(0)"><TMPL_VAR DOMAIN_ACCESSION></a></td>
         <td align="center"><TMPL_VAR DOMAIN_NAME></td>
         <td align="center"><TMPL_VAR DOMAIN_DESCRIPTION></td>
        <td align="left"><img src="<TMPL_VAR DOMAIN_IMAGE>"></td>
      </tr>
</TMPL_LOOP>
       </table></td>
     </tr>
<!-- LIST OF DOMAINS END -->


<!-- LIST OF PROTEIN DOMAIN STRUCTURES START -->
     <tr>
       <td colspan="2"><br> List of Protein Domain Architectures <br><br></td>
     </tr>
     <tr>
       <td width="50"></td>
       <td>
       <table border="1">
       <tr bgcolor="#aaaaaa">
         <th align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Accession</th>
         <th align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Taxon</th>
         <th align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Length</th>
         <th align="left" bgcolor="#444488"><img src="<TMPL_VAR SCALE_IMAGE>"></th>
       </tr>
<TMPL_LOOP NAME="LOOP_DOMARCH">
       <tr bgcolor="#ffffff">
         <td align="center"><a href="<TMPL_VAR SEQUENCE_LINK>"><TMPL_VAR SEQUENCE_ACCESSION></a></td>
         <td align="center"><i><TMPL_VAR SEQUENCE_TAXON></i></td>
         <td align="center"><TMPL_VAR SEQUENCE_LENGTH></td>
         <td align="left"><img src="<TMPL_VAR SEQUENCE_IMAGE>"></td>
      </tr>
</TMPL_LOOP>
     </table></td></tr>
<!-- LIST OF PROTEIN DOMAIN STRUCTURES END -->

</TMPL_IF>
</TABLE>

<!-- END CONTENT -->

<TMPL_INCLUDE footer.tmpl>
