
<TMPL_INCLUDE header.tmpl>

<!-- BEGIN CONTENT -->

<script language="javascript">
<!--//
var taxons = { };
var categories = [];
var groups = { };

<TMPL_LOOP NAME=TAXONS>
taxons["<TMPL_VAR NAME=TAXON_ID>"] = { id: "<TMPL_VAR NAME=TAXON_ID>",
    parent_id: "<TMPL_VAR NAME=PARENT_ID>",
    abbrev: "<TMPL_VAR NAME=ABBREV>",
    name: "<TMPL_VAR NAME=NAME>",
    is_species: <TMPL_VAR NAME=IS_SPECIES>,
    expanded: true,
    species_count: 0,
    children: [] };
</TMPL_LOOP>

initial();

function initial() {
    var roots = [];
    // resolve the children of each node
    for (var taxon_id in taxons) {
        var taxon = taxons[taxon_id];
        if (taxon_id != taxon.parent_id) {
            var parent = taxons[taxon.parent_id];
            parent.children.push(taxon);
        } else {
            roots.push(taxon);
        }
    }
    // get species count
    for (var taxon_id in taxons) {
        var taxon = taxons[taxon_id];
        taxon.species_count = countSpecies(taxon);
    }
    // get categories as the children of roots
    for (var i = 0; i < roots.length; i++) {
        for (var j = 0; j < roots[i].children.length; j++) {
            categories.push(roots[i].children[j]);
        }
    }
}

function countSpecies(taxon) {
    if (taxon.is_species == 1) return 1;
    var count = 0;
    for (var i = 0; i < taxon.children.length; i++) {
        count += countSpecies(taxon.children[i]);
    }
    return count;
}

function updateGroup(group) {
    for (var taxon_id in taxons) {
        if (!(taxon_id in group.counts)) {
            countGroup(group, taxons[taxon_id]);
        }
    }
}

function countGroup(group, taxon) {
    var count = {gene_count: 0,
                 species_count: 0};
    if (taxon.id in group.counts) {  // taxon already counted
        count = group.counts[taxon.id];
    } else {
        if (!taxon.is_species) { // clade not counted yet
            for (var i = 0; i < taxon.children.length; i++) {
                var child_count = countGroup(group, taxon.children[i]);
                count.gene_count += child_count.gene_count;
                count.species_count += child_count.species_count;
            }
        } // otherwise, species not included, use default 0, 0
        group.counts[taxon.id] = count;
    }
    return count;
}

function displayCategories(group) {
    for(var i = 0; i < categories.length; i++) {
        document.writeln("<tr><td width=\"10%\" nowrap>" + categories[i].name + "</td>");
        document.writeln("<td class=\"phyletic-category\"><span>");
        displayCategory(group, categories[i]);
        document.writeln("</span></td></tr>");
    }
}

function displayCategory(group, taxon) {
    var className;
    if (group.counts[taxon.id].gene_count == 0) className = "zero";
    else if (group.counts[taxon.id].gene_count == 1) className = "one";
    else if (group.counts[taxon.id].gene_count == 2) className = "two";
    else className = "more";
    
    document.write("<div class=\"" + className + "\" ");
    document.write(" title=\"" + taxon.name + "\" ");
    if (taxon.is_species == 1) {    // display species
        document.writeln(" >" + taxon.abbrev + "<br/>");
        document.writeln(group.counts[taxon.id].gene_count);
        document.writeln("</div>");
    } else {    // display clade
        document.write(" id=\"" + group.name + "_" + taxon.id + "_info\" ");
        if (taxon.expanded) document.write(" style=\"display: none\" ");
        document.writeln(" onclick=\"toggleTaxon('" + taxon.id + "')\" >");
        document.writeln(taxon.abbrev + "<br/>");
        document.write(group.counts[taxon.id].species_count + "/");
        document.writeln(taxon.species_count + "<br/>");
        document.writeln(group.counts[taxon.id].gene_count);
        document.writeln("</div>");
        
        document.write("<table id=\"" + group.name + "_" + taxon.id + "_child\" ");
        if (!taxon.expanded) document.write(" style=\"display: none\" ");
        document.writeln(" ><tr><td>");
        document.write("<img src=\"images/minus.png\" ");
        document.write(" style=\"cursor: pointer\" ");
        document.write(" title=\"" + taxon.name + "\" ");
        document.writeln(" onclick=\"toggleTaxon('" + taxon.id + "')\" />");
        document.writeln("</td>");
        for (var i = 0; i < taxon.children.length; i++) {
            document.writeln("<td>")
            displayCategory(group, taxon.children[i]);
            document.writeln("</td>")
        }
        document.writeln("</td></tr></table>");
    }
}

function toggleTaxon(taxon_id) {
    var taxon = taxons[taxon_id];
    for (var groupName in groups) {
        var taxonInfo = document.getElementById(groupName + "_" + taxon_id + "_info");
        var taxonChild = document.getElementById(groupName + "_" + taxon_id + "_child");
        taxonInfo.style.display = taxon.expanded ? "block" : "none";
        taxonChild.style.display = taxon.expanded ? "none" : "block";
    }
    taxon.expanded = !taxon.expanded;
}
//-->
</script>

<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr height="30">
       <td colspan="2"><H3> Group Query Result</H3></td>
     </tr>
     <tr height="30">
       <td> Your Query is : <strong><TMPL_VAR NAME="QUERY_CODE"></strong> (<TMPL_VAR NAME="QUERY_TYPE">)</td>
       <td></td>
     </tr>
     <tr height="30">
       <td> Group Search Result : <strong><TMPL_VAR NAME="NUM_GROUPS"></strong> OrthoMCL Groups</td>
       <td></td>
     </tr>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>


<!-- DEBUG CONTENT BEGIN -->
  <TMPL_IF NAME="LOOP_DEBUG">
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
     <tr><td><strong><font color="red">DEBUG INFORMATION</font></strong></td></tr>
  <TMPL_LOOP NAME="LOOP_DEBUG">
     <tr><td colspan="2"><TMPL_VAR NAME="DEBUG"></td></tr>
  </TMPL_LOOP>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
  </TMPL_IF>
<!-- DEBUG CONTENT END-->

<!-- ERROR MESSAGE BEGIN -->
  <TMPL_IF NAME="LOOP_ERROR">
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
     <tr><td><strong><font color="red">ERROR MESSAGE</font></strong></td></tr>
  <TMPL_LOOP NAME="LOOP_ERROR">
     <tr><td colspan="2"><TMPL_VAR NAME="ERROR"></td></tr>
  </TMPL_LOOP>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
  </TMPL_IF>
<!-- ERROR MESSAGE END-->

<FORM action="cgi-bin/OrthoMclWeb.cgi?">
     <tr><td BGCOLOR=#DDDDDD COLSPAN=3 ALIGN=CENTER>
       <strong>Group #<TMPL_VAR GROUP_NUM_S> ~ #<TMPL_VAR GROUP_NUM_E> / <TMPL_VAR NUM_GROUPS></strong>
     </td></tr>
     <tr><td BGCOLOR=#DDDDDD COLSPAN=3 ALIGN=CENTER>
     <TMPL_UNLESS ONEPAGE>
	<TMPL_VAR PAGER_PREV>
	<TMPL_VAR PAGER_JUMP>
	<TMPL_VAR PAGER_NEXT>
	<INPUT TYPE="hidden" NAME="rm" VALUE="groupList"> 
	Jump to page:<INPUT TYPE="text" SIZE="4" NAME="PAGE_JUMP_BOTTOM"> / <TMPL_VAR NAME="NUM_PAGES"> <INPUT TYPE="button" VALUE="Go!" onClick="PAGER_set_offset_and_submit((parseInt(this.form['PAGE_JUMP_BOTTOM'].value) - 1) * <TMPL_VAR ROWSPERPAGE>);">
	<TMPL_VAR NAME="PAGER_HIDDEN">
     </TMPL_UNLESS>
     </td></tr>
</FORM>

     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
     <tr>
       <td colspan="2"><br></td>
     </tr>

<TMPL_LOOP NAME="PAGER_DATA_LIST">
  <tr>
  <TMPL_IF NAME="__ODD__">
    <td colspan="2" align="center"><table bgcolor="#eeeedd"><tr>
  </TMPL_IF>
  <TMPL_IF NAME="__EVEN__">
    <td colspan="2" align="center"><table bgcolor="#ddeeee"><tr>
  </TMPL_IF>
	    <td width="100" align="center">
	        Group #<TMPL_VAR NAME="GROUP_NUMBER"><br><br>
		<a href="<TMPL_VAR GROUP_LINK>" onmouseover="this.T_STICKY=true;this.T_OFFSETY=-150;this.T_OFFSETX=-80;this.T_TITLE='Links to <TMPL_VAR GROUP_ACCESSION>';this.T_WIDTH=200;return escape('<table><tr><td align=\'center\'><font size=\'2\'><a href=\'<TMPL_VAR GROUP_LINK>\'>List of Proteins</a></font></td></tr><tr><td align=\'center\'><font size=\'2\'><a href=\'<TMPL_VAR DOMARCH_LINK>\'>Pfam Domain Architecture</a></font></td></tr><TMPL_IF BIOLAYOUT_LINK><tr><td align=\'center\'><font size=\'2\'><a href=\'<TMPL_VAR BIOLAYOUT_LINK>\'>BioLayout Graph</a></font></td></tr></TMPL_IF><TMPL_IF MSA_LINK><tr><td align=\'center\'><font size=\'2\'><a href=\'<TMPL_VAR MSA_LINK>\'>Multiple Sequence Alignment</a></font></td></tr></TMPL_IF><tr><td align=\'center\'><font size=\'2\'><a href=\'<TMPL_VAR SEQUENCE_LINK>\'>Get Sequences (FASTA)</a></font></td></tr></table>')"><TMPL_VAR GROUP_ACCESSION></a>
	    </td>
	    <td width="640" align="center">
		<table width="640" border="1">
		  <tr>
		    <td bgcolor="#ffeeee" align="center"># Sequences</td>
		    <td bgcolor="#ffeeee" align="center"># Taxa</td>
		    <td bgcolor="#eeffff" align="center"># Match Pairs (%)</td>
		    <td bgcolor="#eeffff" align="center">Ave E-Value</td>
		    <td bgcolor="#eeffff" align="center">Ave % Coverage</td>
		    <td bgcolor="#eeffff" align="center">Ave % Identity</td>
<!--		    <td bgcolor="#eeffff" align="center">Ave DCS</td>
-->
		  </tr>
		  <tr>
		    <td bgcolor="#ffeeee" align="center"><TMPL_VAR NAME="NO_SEQUENCES"></td>
		    <td bgcolor="#ffeeee" align="center"><TMPL_VAR NAME="NO_TAXA"></td>
		    <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="NO_MATCH_PAIRS"> (<TMPL_VAR NAME="PERC_MATCH_PAIRS">%)</td>
		    <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_EVAL"></td>
		    <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_PM"></td>
		    <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_PI"></td>
<!--		    <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_DCS"></td>
-->
		  </tr>


		  <tr>
  		    <td colspan="7">
		      <!-- BEGIN PHYLETIC PATTERN BLOCK -->
		      <table border="1" cellspacing="0">

<script language="javascript">
<!--//
var group = {name: "<TMPL_VAR GROUP_ACCESSION>",
             counts: { } };

<TMPL_LOOP NAME=TAXON_GENES>
group.counts["<TMPL_VAR NAME=TAXON_ID>"] = { gene_count: <TMPL_VAR NAME=GENE_COUNT>,
                                             species_count: 1};
</TMPL_LOOP>

groups[group.name] = group;

updateGroup(group);
displayCategories(group);

//-->
</script>

		      <!-- END PHYLETIC PATTERN BLOCK -->
		    </td>

		  </tr>
		  <TMPL_IF KEYWORDS>
		  <tr>
		    <td width=100% bgcolor="#eeeecc" colspan="7" align="left">Keyword(s): <TMPL_VAR KEYWORDS></td>
		  </tr>
		  </TMPL_IF>
		  <TMPL_IF DOMAIN>
		  <tr>
		    <td width=100% bgcolor="#eeccee" colspan="7" align="left">Pfam Domain(s): <TMPL_VAR DOMAIN></td>
		  </tr>
		  </TMPL_IF>

		</table>
	    </td>
    </tr></table></td>

  </tr>
<!-- 
  <tr><td colSpan=2><HR></td></tr>
-->

</TMPL_LOOP>
     <tr>
       <td colspan="2"><br></td>
     </tr>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
<FORM action="cgi-bin/OrthoMclWeb.cgi?">
     <tr><td BGCOLOR=#DDDDDD COLSPAN=3 ALIGN=CENTER>
     <TMPL_UNLESS ONEPAGE>
	<TMPL_VAR PAGER_PREV>
	<TMPL_VAR PAGER_JUMP>
	<TMPL_VAR PAGER_NEXT>
	<INPUT TYPE="hidden" NAME="rm" VALUE="groupList"> 
	Jump to page:<INPUT TYPE="text" SIZE="4" NAME="PAGE_JUMP_BOTTOM"> / <TMPL_VAR NAME="NUM_PAGES"> <INPUT TYPE="button" VALUE="Go!" onClick="PAGER_set_offset_and_submit((parseInt(this.form['PAGE_JUMP_BOTTOM'].value) - 1) * <TMPL_VAR ROWSPERPAGE>);">
	<TMPL_VAR NAME="PAGER_HIDDEN">
     </TMPL_UNLESS>
     </td></tr>
</FORM>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>



</TABLE>


<!-- END CONTENT -->

<TMPL_INCLUDE footer.tmpl>
