
<TMPL_INCLUDE header.tmpl>

<!-- BEGIN CONTENT -->

<TABLE height="100%" width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td colspan="2">&nbsp;</td>
     </tr>
    <tr>
      <td colspan="2">
      <TMPL_IF ACKEYWORD>
        <H2> Query OrthoMCL Group By Accession / Keyword <H2>
      </TMPL_IF>
      <TMPL_IF PROPERTY>
        <H2> Query OrthoMCL Group By Group Properties <H2>
      </TMPL_IF>
      <TMPL_IF PPEXPRESSION>
        <H2> Query OrthoMCL Group By PPE (Phyletic Pattern Expression)* <H2>
      </TMPL_IF>
      <TMPL_IF PPFORM>
        <H2> Query OrthoMCL Group By Phyletic Pattern Form <H2>
      </TMPL_IF>
      </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#326495"><img src="images/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr height=25>
      <td colspan="2"></td>
    </tr>

<TMPL_IF ACKEYWORD>
    <tr>
       <td colspan="2" align="center"><table width="600">
          <tr>
            <form action="cgi-bin/OrthoMclWeb.cgi">
            <td width="75%" align="right">
              <input type="hidden" name="rm" value="groupList">
              <input type="hidden" name="type" value="ackeyword">
              <input type="text" size=20 name="q" value="tubulin">
              &nbsp;in&nbsp;
              <select name="in">
                 <option>Keyword</option>
                 <option>Accession</option>
		 <option>Pfam_Accession</option>
		 <option>Pfam_Name</option>
		 <option>Pfam_Keyword</option>
              </select>
            </td>
            <td align="left"><input type="submit" value="GO!"></td>
            </form>
          </tr>
          <tr height="25"><td colspan="2"></td></tr>
          <tr>
            <td colspan="2">
              <b>Notes</b>:
              <br>1. Query group by keyword: the group will be listed as long as one member sequence has a match to the keyword; boolean mode is supported, and here are some examples:
              <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">ubiquitin-conjugating enzyme</font>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain at least one of the three words.
              <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">+ubiquitin +conjugating enzyme</font>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain the word "ubiquitin" and the word "conjugating", but rank higher if they also contain "enzyme".
              <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">+ubiquitin -conjugating</font>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain the word "ubiquitin" but not "conjugating".
              <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">ubi*</font>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain words starting with "ubi".
              <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">"ubiquitin-conjugating enzyme"</font>
              <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain the exact phrase "ubiquitin-conjugating enzyme".
              <br>
              <br>2. Query group by accession: OrthoMCL group accession is in the form of "OG"+version number+"_"+digits, e.g. "OG1_196".
            </td>
          </tr>
        </table></td>
      </tr>	
</TMPL_IF>

<TMPL_IF PROPERTY>
    <tr>
       <td colspan="2" align="center"><table width="600">
          <tr><td colspan="2">Find OrthoMCL Group(s) By Size (Number of  Sequences / Genomes)</td></tr>
          <tr>
            <form action="cgi-bin/OrthoMclWeb.cgi">
            <td align="right">
              Number of&nbsp;
              <input type="hidden" name="rm" value="groupList">
              <input type="hidden" name="type" value="property">
              <select name="sizeof">
                 <option>Sequences</option>
                 <option>Genomes</option>
              </select>
              <input type="text" size=10 name="number" value=">=10">
            </td>
            <td align="left"><input type="submit" value="GO!"></td>
            </form>
          </tr>
          <tr><td colspan="2">Find OrthoMCL Group(s) By Group Properties (such as Average Percent Identity)</td></tr>
          <tr>
            <form action="cgi-bin/OrthoMclWeb.cgi">
            <td align="right">
              <input type="hidden" name="rm" value="groupList">
              <input type="hidden" name="type" value="property">
              Value of&nbsp;
              <select name="prop">
                 <option>Percentage Match Pairs (0..100)</option>
                 <option>Average BLAST E-value (0..1e-5)</option>
<!--                 <option>Average DCS (0..100)</option> -->
                 <option>Average Pencentage Identity (0..100)</option>
                 <option>Average Pencentage Match (0..100)</option>
              </select>
              <input type="text" size=10 name="number" value=">=10">
            </td>
            <td align="left"><input type="submit" value="GO!"></td>
            </form>
          </tr>

          <tr height="25"><td colspan="2"></td></tr>
          <tr>
            <td colspan="2">
              <font size=-1><b>Notes</b>:
              <br>1. To specify a query please use a logical comparison operator (such as >, <, =, >=, <=), followed by a number.
              <br>2. Query group by property: The Percentage Match Pairs was calculated as the number of protein pairs that can align (in the all-against-all BLASTP search for initial clustering, E-value cutoff = 1e-5) over the number of all possible protein pairs within a certain group. Then the other properties were calculated based on these aligned protein pairs only.
            </td>
          </tr>
       </table></td>
    </tr>

</TMPL_IF>

<TMPL_IF PPEXPRESSION>
    <tr>
      <td colspan="2" align="center">
<table width="600"><tr><td colspan="2">

        <form action="cgi-bin/OrthoMclWeb.cgi">
        <input type="hidden" name="rm" value="groupList">
        <input type="hidden" name="type" value="ppexpression">
        <input type="text" size=70 name="q">
        <input type="submit">
        </form>
      </td>
    </tr>
    <tr height=2>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="center"><a href="javascript:void(0);" onmouseover="this.T_TITLE='GENOME ABBREVIATIONS';this.T_WIDTH=400;this.T_STICKY=1;this.T_FIX=(400,0);return escape('<table border=\'1\'><TMPL_LOOP LOOP_TR><tr width=\'100%\'><TMPL_LOOP LOOP_TD><td width=\'10%\'><font size=\'1\'><TMPL_VAR ABBREV></font></td><td width=\'40%\'><font size=\'1\'><i><TMPL_VAR NAME></i></font></td></TMPL_LOOP></tr></TMPL_LOOP></table>')">GENOME ABBREVIATIONS</td>
      <td align="center"><a href="javascript:void(0);" onmouseover="this.T_TITLE='GENOME GROUP ABBREVIATIONS';this.T_WIDTH=250;return escape('<table border=\'1\'><TMPL_LOOP LOOP_GROUPTR><tr><TMPL_LOOP LOOP_GROUPTD><td width=\'10%\'><font size=\'1\'><TMPL_VAR ABBREV></font></td><td width=\'90%\'><font size=\'1\'><TMPL_VAR NAME></font></td></TMPL_LOOP></tr></TMPL_LOOP></table>')">GENOME GROUP ABBREVIATIONS</td>
    </tr>
    <tr height=10>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2">
        Phyletic Pattern Expression is a flexible way to do queries of ortholog groups. By using this tool,
	you can specify the presence or absence of genome (i.e. whether this genome has certain gene or not),
	and the number of copies (i.e. how many duplicates certain gene has in a specific genome).
	<P>
	<strong>*PPE Grammar</strong>: Individual grammatical units of PPE expressions are composed of two parts:
	<br>&nbsp;&nbsp;&nbsp;&nbsp;1. A species specification, composed of a three-letter species abbreviation (e.g. "tgo"), or a list of species abbreviations linked by plus sign "+" (e.g. "tgo+pfa+hsa"). Several abbreviations are also permitted, such as "BAC" for all Eubacteria genomes, "EUK" for all eukaryotic genomes, "API" for all apicomplexan genomes, "ALL" to represent all 55 genomes, and "OTHER" to represent all other genomes not already specified anywhere in the composite expression (clade abbreviations are indicated on the form).
	<br>&nbsp;&nbsp;&nbsp;&nbsp;2. A logical comparison operator, such as >, <, =, >=, or <=, and a number representing the number of sequences from these species that must be present in the ortholog group (e.g. "tgo>5" specifies ortholog groups containing at least 5 in-paralogs from <i>Toxoplasma gondii</i>. Alternatively, when appended with the character "T" (for Taxa), this number represents the number of species that must be represented in the ortholog group. 
	<br>Multiple expression units may be combined using "AND" or "OR", and may use parentheses to provide explicit execution ordering.
	<P>
	<strong>Examples & Explanations</strong>: 
        <br>&nbsp;&nbsp;&nbsp;&nbsp;"<i>hsa+eco=2T</i>" would generate ortholog groups in which both human and E. coli are present. 
        <br>&nbsp;&nbsp;&nbsp;&nbsp;"<i>hsa+eco=1T</i>" would generate ortholog groups in which only one species of human and E. coli is present. 
	<br>&nbsp;&nbsp;&nbsp;&nbsp;"<i>ALL=55T</i>" would generate ortholog groups representing all 55 species.
	<br>&nbsp;&nbsp;&nbsp;&nbsp;"<i>EUK>=1T AND OTHER=0T</i>" would generate Eukaryota-specific ortholog groups (representing at least one eukaryotic species and containing no non-eukaryota species).
	<br>&nbsp;&nbsp;&nbsp;&nbsp;"<i>EUK=35T</i>" would generate Eukaryota-universal ortholog groups (representing all 35 eukaryotic species).
	<br>&nbsp;&nbsp;&nbsp;&nbsp;"<i>EUK>=5T AND hsa>=10</i>" would generate all ortholog groups representing at least five eukaryotic species and containing at least 10 human proteins.
	<P>
	<strong>Tips</strong>: 
	<br>&nbsp;&nbsp;&nbsp;&nbsp; Please prevent redundancy in your PPE query, e.g. "<i>hsa>=1</i>" is equal to "<i>hsa=1T</i>", so no need to mention them twice.
	<br>&nbsp;&nbsp;&nbsp;&nbsp; Please merge different PPE units to save time in query, e.g. "<i>hsa=1T AND mmu=1T</i>" can be merged as "<i>hsa+mmu=2T</i>".
      </td>
    </tr>
</table></td></tr>
</TMPL_IF>
</TABLE>
<TMPL_IF PPFORM>
  <TMPL_INCLUDE ppform.tmpl>
</TMPL_IF>

<!-- END CONTENT -->

<TMPL_INCLUDE footer.tmpl>
