<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><TMPL_VAR PAGETITLE></title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <base href="<TMPL_VAR BASEHREF>" />
  <link href="css/main.css"  rel="stylesheet" type="text/css" />
  <link href="css/orthomcl.css" rel="stylesheet" type="text/css" />
  <!--[if lte IE 7]>
  <style>
  #menuwrapper, #p7menubar ul a {height: 1%;}
  a:active {width: auto;}
  </style>
  <![endif]-->  
  <script type="text/javascript" src="js/checkallbox.js"></script>
  <script language="JavaScript">
  <!--
  function mmLoadMenus() {
    if (window.mm_menu_0229082223_0) return;
        window.mm_menu_0229082223_0 = new Menu("root",200,18,"",12,"#333333","#FFFFFF","#9798CC","#343584","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
    mm_menu_0229082223_0.addMenuItem("Current&nbsp;Release","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Current'");
    mm_menu_0229082223_0.addMenuItem("Background","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Background'");
    mm_menu_0229082223_0.addMenuItem("FAQ","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#FAQ'");
    mm_menu_0229082223_0.addMenuItem("Software","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Software'");
    mm_menu_0229082223_0.addMenuItem("Publications","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Publication'");
    mm_menu_0229082223_0.addMenuItem("Acknowledgements","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Acknowledgement'");
    mm_menu_0229082223_0.addMenuItem("Contact","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Contact'");
    mm_menu_0229082223_0.hideOnMouseOut=true;
    mm_menu_0229082223_0.bgColor='#555555';
    mm_menu_0229082223_0.menuBorder=1;
    mm_menu_0229082223_0.menuLiteBgColor='';
    mm_menu_0229082223_0.menuBorderBgColor='#AEB0D0';

    window.mm_menu_0229082941_0 = new Menu("root",200,18,"",12,"#333333","#FFFFFF","#9798CC","#343584","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
    mm_menu_0229082941_0.addMenuItem("Summary&nbsp;Statistics","location='cgi-bin/OrthoMclWeb.cgi?rm=genome&type=summary'");
    mm_menu_0229082941_0.addMenuItem("Data&nbsp;Sources","location='cgi-bin/OrthoMclWeb.cgi?rm=genome&type=data'");
    mm_menu_0229082941_0.addMenuItem("Download","location='cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Current'");
    mm_menu_0229082941_0.hideOnMouseOut=true;
    mm_menu_0229082941_0.bgColor='#555555';
    mm_menu_0229082941_0.menuBorder=1;
    mm_menu_0229082941_0.menuLiteBgColor='';
    mm_menu_0229082941_0.menuBorderBgColor='#AEB0D0';
    window.mm_menu_0229083228_0 = new Menu("root",200,18,"",12,"#333333","#FFFFFF","#9798CC","#343584","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
    mm_menu_0229083228_0.addMenuItem("Search&nbsp;Group","location='cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ackeyword'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;By&nbsp;Accession/Keyword","location='cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ackeyword'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;By&nbsp;Group&nbsp;Properties","location='cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=property'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;By&nbsp;Phyletic&nbsp;Pattern&nbsp;Expression","location='cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppexpression'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;By&nbsp;Phyletic&nbsp;Pattern&nbsp;Form","location='cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppform'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;History","location='cgi-bin/OrthoMclWeb.cgi?rm=groupQueryHistory'");
    mm_menu_0229083228_0.addMenuItem("Search&nbsp;Sequence","location='cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm&type=ackeyword'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;By&nbsp;Accession/Keyword","location='cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm&type=ackeyword'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;By&nbsp;BLAST&nbsp;Search","location='cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm&type=blast'");
    mm_menu_0229083228_0.addMenuItem("&nbsp;&nbsp;&nbsp;&nbsp;History","location='cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryHistory'");mm_menu_0229083228_0.hideOnMouseOut=true;
    mm_menu_0229083228_0.bgColor='#555555';
    mm_menu_0229083228_0.menuBorder=1;
    mm_menu_0229083228_0.menuLiteBgColor='';
    mm_menu_0229083228_0.menuBorderBgColor='#AEB0D0';

    mm_menu_0229083228_0.writeMenus();
  } // mmLoadMenus()
  //-->
  </script>
  <script language="JavaScript" src="js/mm_menu.js"></script>
  <TMPL_VAR NAME="PAGER_JAVASCRIPT">
</head>

<body>
<script language="JavaScript1.2">mmLoadMenus();</script>
<div id="wrapper">
<TMPL_INCLUDE banner.tmpl>
<div align="center">
<br />
<div id="content">
