<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title><TMPL_VAR PAGETITLE></title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <base href="<TMPL_VAR BASEHREF>" />
  <link href="css/orthomcl.css" rel="stylesheet" type="text/css" />
  <link href="css/main.css"  rel="stylesheet" type="text/css" />
  <link href="css/menubar.css"  rel="stylesheet" type="text/css" /><!--[if lte IE 7]>
  <style>
  #menuwrapper, #p7menubar ul a {height: 1%;}
  a:active {width: auto;}
  </style>
  <![endif]-->
  <script type="text/javascript" src="js/menudrop.js"></script>  
  <script type="text/javascript" src="js/checkallbox.js"></script>
  <script type="text/javascript" src="js/wz_tooltip.js"></script>
  <TMPL_VAR NAME="PAGER_JAVASCRIPT">
</head>

<body onload="P7_ExpMenu()">
<div id="wrapper">
<TMPL_INCLUDE banner.tmpl>
<div align="center">
<br />
<div id="content">
