<table border="0" cellpadding="0" cellspacing="0" height=100% width=100%>
    <tr height=20%>
    	<td>&nbsp;&nbsp;&nbsp;</td>
    	<td></td>
    	<td>&nbsp;</td>
    </tr>									
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2"><a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm">Search Sequence</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm&type=keyword">by Accession / Keyword</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryForm&type=blast">by BLAST Search</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryHistory">History</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2"><a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm">Search Group</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ackeyword">by Accession / Keyword</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=property">by Group Properties</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppexpression">by Phyletic Pattern Expression</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppform">by Phyletic Pattern Form</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2">&nbsp;&nbsp;&nbsp;--&nbsp;<a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryHistory">History</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2"><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Software">OrthoMCL Software</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=15%>
    	<td>&nbsp;</td>
    	<td><font size="2"><a href="cgi-bin/OrthoMclWeb.cgi?rm=orthomcl#Download">Database Download</a></font></td>
    	<td>&nbsp;</td>
    </tr>
    <tr height=100%>
    	<td>&nbsp;&nbsp;&nbsp;</td>
    	<td></td>
    	<td>&nbsp;</td>
    </tr>									
</table>

