<script type="text/javascript" src="js/ppform.js"></script>

<script type="text/javascript">
<!-- //

var taxons = { };

<TMPL_LOOP NAME=TAXONS>
taxons["<TMPL_VAR NAME=TAXON_ID>"] = { id:"<TMPL_VAR NAME=TAXON_ID>",
    parent_id:"<TMPL_VAR NAME=PARENT_ID>",
    abbrev:"<TMPL_VAR NAME=ABBREV>",
    name:"<TMPL_VAR NAME=NAME>",
    state:0,
    is_species: (<TMPL_VAR NAME=IS_SPECIES> == 0) ? false : true,
    index: <TMPL_VAR NAME=INDEX>,
    children:[], };
</TMPL_LOOP>

initial();

// -->
</script>
<div align="center">
<form action="cgi-bin/OrthoMclWeb.cgi">
<input type="hidden" name="rm" value="groupList">
<input type="hidden" name="type" value="ppexpression">
<p><b>Key:</b> <img border=0 src="images/dc.gif"> no constraint, <img border=0 src="images/yes.gif"> must be present in group, <img border=0 src="images/no.gif"> must be excluded from group, <img border=0 src="images/maybe.gif"> at least one must be present, <img border=0 src="images/unk.gif"> mixture of constraints</p>
<div class="node-region">
    <script type="text/javascript">
        displayNodes();
    </script>
</div>
<input type="text" id="query" name="q" value="" size="100">
<input type="submit" name="runPPE" value="Execute Phyletic Query">
</form>
</div>


<p><font size=-1><b>Notes</b>: 
<br>1. By clicking on the buttons (<img border=0 src="images/dc.gif">) for Species, you can toggle their statuses from "does not care <img border=0 src="images/dc.gif">" to "present <img border=0 src="images/yes.gif">", "absent <img border=0 src="images/no.gif">" and back to "does not care <img border=0 src="images/dc.gif">". For Groups, there are two statuses for "present <img border=0 src="images/yes.gif">": present for all members of the group (all member statuses are changed to "present <img border=0 src="images/yes.gif">"); OR present for at least one member of the group (all member statuses are changed to "does not care <img border=0 src="images/dc.gif">").
<br>2. In the text box below the table, you can modify the Phyletic Pattern Expression with more specific query constraints, but please follow the <a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppexpression">PPE grammar</a>.
</font>
