<script type="text/javascript" lang="JavaScript">
<!-- //

var urls = new Array("dc.gif", "yes.gif", "no.gif", "yes.gif", "unk.gif");var taxons = { };
var roots = [];

<TMPL_LOOP NAME=TAXONS>
taxons["<TMPL_VAR NAME=TAXON_ID>"] = { id:"<TMPL_VAR NAME=TAXON_ID>",
                                       parent_id:"<TMPL_VAR NAME=PARENT_ID>",
                                       abbrev:"<TMPL_VAR NAME=ABBREV>",
                                       name:"<TMPL_VAR NAME=NAME>",
                                       state:0,
                                       children:[],
                                     };
</TMPL_LOOP>

initial();

function initial() {
    // resolve the children of each node
    for (var taxon_id in taxons) {
        var taxon = taxons[taxon_id];
        if (taxon_id != taxon.parent_id) {
            var parent = taxons[taxon.parent_id];
            parent.children.push(taxon);
        } else { 
            roots.push(taxon); 
        };
    }
}

function displayNode(node) {
    var hasChild = (node.children.length != 0);
    document.writeln("<div>");
    
    document.write("<image id='" + node.id + "_fold' width='20' height='20'");
    document.write(" src='images/" + (hasChild ? "minus.png'" : "spacer.gif'"));
    document.writeln(" onclick=\"toggleFold('" + node.id + "')\" />");
    
    document.writeln("<image id='" + node.id + "_check' src='images/" + urls[node.state] + "' />");
    
    document.writeln("<span class='node-" + (hasChild ? "highlight" : "normal") + "'>");
    document.writeln(node.name + " (" + node.abbrev + ")</span>");
    
    document.writeln("</div>");
    if (hasChild) {
        document.writeln("<div id='" + node.id + "_child' class='node-indent'>");
        for(var i = 0; i < node.children.length; i++) {
            displayNode(node.children[i]);
        }
        document.writeln("</div>");
    }
}

function toggleFold(nodeId) {
    var imgFold = document.getElementById(nodeId + "_fold");
    var divChild = document.getElementById(nodeId + "_child");
    var isFolded = (divChild.style.display == "none");
    imgFold.src = "images/" + (isFolded ? "minus.png" : "plus.png");
    divChild.style.display = (isFolded ? "block" : "none");
}

function toggleStates(nodeId) {

}

// -->
</script>
<div align="center">
<form action="cgi-bin/ppe">
<input type="hidden" name="rm" value="groupList">
<input type="hidden" name="type" value="ppexpression">
<p><b>Key:</b> <img border=0 src="images/dc.gif"> no constraint, <img border=0 src="images/yes.gif"> must be present in group, <img border=0 src="images/no.gif"> must be excluded from group, <img border=0 src="images/unk.gif"> mixture of constraints</p>
<div class="node-region">
    <script language="javascript">
        for(var i = 0; i < roots.length; i++) {
            displayNode(roots[i]);
        }
    </script>
</div>
<input type="text" name="expression" value="" size="100">
<input type="hidden" name="project_id" value="OrthoMCL">
<input type="submit" name="runPPE" value="Execute Phyletic Query">
</form>
</div>


<p><font size=-1><b>Notes</b>: 
<br>1. By clicking on the buttons (<img border=0 src="images/dc.gif">) for Species, you can toggle their statuses from "does not care <img border=0 src="images/dc.gif">" to "present <img border=0 src="images/yes.gif">", "absent <img border=0 src="images/no.gif">" and back to "does not care <img border=0 src="images/dc.gif">". For Groups, there are two statuses for "present <img border=0 src="images/yes.gif">": present for all members of the group (all member statuses are changed to "present <img border=0 src="images/yes.gif">"); OR present for at least one member of the group (all member statuses are changed to "does not care <img border=0 src="images/dc.gif">").
<br>2. In the text box below the table, you can modify the Phyletic Pattern Expression with more specific query constraints, but please follow the <a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ppexpression">PPE grammar</a>.
</font>
