<TMPL_INCLUDE header.tmpl>

<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/proteome.js"></script>


<!-- BEGIN CONTENT -->

<TMPL_IF UPLOAD>

<h3 align="center">Assign your proteins to OrthoMCL Groups</h3>

Use this tool to provisionally assign the proteins in a genome to OrthoMCL Groups.  Upload your genome's proteins as a FASTA file.  

<TMPL_IF UPLOAD_IS_OFFLINE>
<h2 class='notice'>This tool is temporarily unavailable.</h2>
<TMPL_ELSE>
<br><br>The process takes between 6 to 24 hours depending upon server load.  
<br><br>
<form id="upload_form" action="/cgi-bin/OrthoMclWeb.cgi" method="post"  
      enctype="multipart/form-data">
  <input type="hidden" name="rm" value="proteomeQuery">
  <table align="center">
    <tr>
      <td>Sequence file to Upload: </td>
      <td><input id="seq_file" type="file" name="seq_file" required="true" /></td>
    </tr>
    <tr>
      <td>Your Email Address: </td>
      <td><input id="email" type="text" name="email" required="true" size="33" maxlength="255"/></td>
    </tr>
    <tr>
      <td>Job Name(optional): </td>
      <td><input id="job_name" type="text" name="job_name" size="33" maxlength="100"/></td>
    </tr>

    <tr>
      <td colspan="2" align="center"><input type="submit" name="Submit" value="Upload" /></td>
    </tr>
  </table>
</form> 
</TMPL_IF>
<br><br>
<h3>Details</h3>
<b>Input:</b> Your proteins in FASTA format.
<p>
<b>Output:</b> A .zip file containing the following text files:
<p>
<pre>
orthomclResults/
  orthologGroups    # a map between your proteins and OrthoMCL groups. Tab 
                      delimited.  Columns: your_protein, orthomcl_group, 
                      seq_id_of_best_hit, evalue_mantissa, evalue_exponent,
                      percent_identity, percent_match
  paralogPairs      # reciprocal best hits among those proteins in your genome
                    # that were not mapped to OrthoMCL groups, as described
                    # below in the Algorithms section
  paralogGroups     # the proteins in paralogPairs clustered into groups by
                    # the mcl program, as described below in the Algorithms
                    # section
</pre>
<br><br>
<b>Algorithm</b>
<p>
Please refer to the <a href="http://docs.google.com/View?id=dd996jxg_1gsqsp6">OrthoMCL Algorithm Document</a> for details about how OrthoMCL-DB is created.
<ul>
<li>BLASTP of your proteins against self and against OrthoMCL proteins.  Cutoff of e-5, and 50% match. 
<li>For proteins that have an above-threshold match: assign the group from the best matching OrthoMCL protein.  If the best OrthoMCL protein does not have a group, assign NO_GROUP.
<li>For remaining proteins: use the InParalog algorithm described in the <a href="http://docs.google.com/View?id=dd996jxg_1gsqsp6">OrthoMCL Algorithm Document</a> to find potential paralog pairs.  
<li>Submit those pairs to the <a href="http://www.micans.org/mcl/">MCL</a> program (see the <a href="http://docs.google.com/View?id=dd996jxg_1gsqsp6">OrthoMCL Algorithm Document</a>).


</TMPL_IF> <!-- end of UPLOAD -->

<TMPL_IF RESULT>

  <h3 align="center">Proteins Submitted</h3>
  <TMPL_IF JOB_NAME><p>Job name: <b><TMPL_VAR JOB_NAME></b></p></TMPL_IF>
  <p>Your proteins sequence file <TMPL_VAR FILE_NAME> has been uploaded. You will receive an email soon at <TMPL_VAR EMAIL> indicating that the job has been submitted to the queue.  You will receive another email in many hours when the job is complete.  
<p>
Thanks for submitting your proteins.
 
</TMPL_IF> <!-- end of RESULT -->


<!-- END CONTENT -->

<TMPL_INCLUDE footer.tmpl>
