<TMPL_INCLUDE header.tmpl>
<!-- BEGIN CONTENT -->
<TABLE height="100%" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
    <TMPL_IF NOTFOUND>
Could not find results for job id '<TMPL_VAR JOB_ID>'.<br>
The likely cause is either the
job id is incorrect or the job is older than <TMPL_VAR PURGE_WINDOW> days and the result
has been deleted.
    <TMPL_ELSE>
    <TMPL_IF UNKNOWN_REQUEST>
    I don't understand your request: <TMPL_VAR RM>. Please check your address.
    <TMPL_ELSE>
    <META HTTP-EQUIV='Refresh' CONTENT='3;URL=<TMPL_VAR DIRECT_DL_LINK>'>
    <h4>Your OrthoMCL download for job '<TMPL_VAR JOB_ID>' will start shortly...</h4>
or use this <a href="<TMPL_VAR DIRECT_DL_LINK>">direct link</a>.

    </TMPL_IF>
    </TMPL_IF>
    
    </td>
  </tr>

</TABLE>

<!-- END CONTENT -->

<TMPL_INCLUDE footer.tmpl>
