<TMPL_INCLUDE header.tmpl>

<TABLE width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
<FORM action="cgi-bin/OrthoMclWeb.cgi">
     <tr>
       <td colspan="2">&nbsp;</td>
     </tr>
    <tr>
      <td colspan="2">
        <H3> Your Sequence Query History <H3>
      </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr height=15>
      <td colspan="2"></td>
    </tr>

<!-- DEBUG CONTENT BEGIN -->
  <TMPL_IF NAME="LOOP_DEBUG">
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
     <tr><td colspan="2"><strong>DEBUG INFORMATION</strong></td></tr>
  <TMPL_LOOP NAME="LOOP_DEBUG">
     <tr><td colspan="2"><TMPL_VAR NAME="DEBUG"></td></tr>
  </TMPL_LOOP>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
  </TMPL_IF>
<!-- DEBUG CONTENT END-->

<!-- ERROR MESSAGE BEGIN -->
  <TMPL_IF NAME="LOOP_ERROR">
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
     <tr><td><red><strong>ERROR MESSAGE</strong></red></td></tr>
  <TMPL_LOOP NAME="LOOP_ERROR">
     <tr><td colspan="2"><TMPL_VAR NAME="ERROR"></td></tr>
  </TMPL_LOOP>
     <tr>
       <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
     </tr>
  </TMPL_IF>
<!-- ERROR MESSAGE END-->

     <tr>
	<td width="10%"></td>
	<td colspan="2"><TABLE border="1" width=750>
	    <tr>
		<TH width="8%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Select</td>
		<TH width="5%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Number</TH>
		<TH width="5%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Time</TH>
		<TH width="53%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Query</TH>
		<TH width="7%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff"># Hits</TH>
		<TH width="22%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Results</TH>
	    </tr>
	  <TMPL_LOOP LOOP_QUERYHISTORY>
	    <tr>
		<td height="10" align="center"><INPUT TYPE="checkbox" NAME="select" VALUE="<TMPL_VAR QUERYNUMBER>"></td>
		<td align="center"><TMPL_VAR QUERYNUMBER></td>
		<td align="center"><TMPL_VAR QUERYTIME></td>
		<td align="center"><TMPL_VAR QUERYTYPE>: <TMPL_VAR QUERYCODE></td>
		<td align="center"><TMPL_VAR QUERYNUMHIT></td>
		<td align="center"><a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceList&querynumber=<TMPL_VAR QUERYNUMBER>">View</a>
		OR
		<a href="cgi-bin/OrthoMclWeb.cgi?rm=querySave&type=sequence&querynumber=<TMPL_VAR QUERYNUMBER>">Save List As File</a>
		OR
		<a href="cgi-bin/OrthoMclWeb.cgi?rm=getSeq&querynumber=<TMPL_VAR QUERYNUMBER>">Save FASTA</a>
		</td>
	    </tr>
	  </TMPL_LOOP>
	  <TMPL_IF NO_HISTORY>
	    <tr>
	      <td colspan="6" align="center">
	         No queries to display!
		 <br>Please make sure your browser supports cookie!
	      </td>
	    </tr>
	  </TMPL_IF>
	</TABLE></td>
     </tr>
     <tr height=15>
      <td colspan="6"></td>
     </tr>
     <tr>
        <td></td>
        <td colspan="2" align="center">
	  <input type=button value="SELECT ALL" onClick="this.value=check(this.form.select)">
	  <input type="submit" name="action" value="REMOVE">
	  <input type="submit" name="action" value="UNION">
	  <input type="submit" name="action" value="INTERSECT">
	</td>
     </tr>
     <tr>
        <td></td>
        <td colspan="2" align="center">
	  <input type="submit" name="action" value="TOP MINUS BOTTOM">
	  <input type="submit" name="action" value="BOTTOM MINUS TOP">
	</td>
     </tr>
     <tr>
        <td></td>
        <td colspan="2" align="center">
          <input type="submit" name="transform" value="SEQUENCE QUERY INTO GROUP QUERY">
        </td>
     </tr>
<input type="hidden" name="rm" value="sequenceQueryHistory">
</FORM>

<FORM ACTION="cgi-bin/OrthoMclWeb.cgi" METHOD="post" ENCTYPE="multipart/form-data">
     <tr>
        <td></td>
        <td colspan="2" align="center">
	  File to Upload: <INPUT TYPE="file" name="file">
	  <input type="submit" value="Retrieve Sequences From File">
	</td>
     </tr>
<input type="hidden" name="rm" value="sequenceQueryHistory">
</FORM>

     <tr>
        <td></td>
        <td colspan="2" align="left">
	  <br>
	  <b>Notes</b>: 
	  <br>1. This page allows users to review the sequence query history, save the query result as a list of sequence accessions or a FASTA file. Please be aware that once the internet browser is closed, the query history will be emptied.
          <br>2. Various query operations are allowed: <b>UNION</b> includes any sequences identified by any selected query. <b>INTERSECT</b> includes only those sequences identified by every selected query. For any two checked queries, <b>TOP MINUS BOTTOM</b> identifies sequences in the frist query that are not in the last checked query; <b>BOTTOM MINUS TOP</b> identifies sequences in the last checked query that are not in the first checked query.
          <br>3. A sequence query can be transformed (all groups these sequences belong to) as a new group query using <b>SEQUENCE QUERY INTO GROUP QUERY</b> button.
	  <br>4. A previous saved list file can be uploaded to retrieve sequences as a new query. Users can also compile a list file by their own, given that each line starts with a sequence accession. In such a file, users can put comments as new lines followed by a "#" sign, OR put comments in the same line as sequence accessions (only space or tab can be used to separate accessions from comments). Please refer to the following example:
	  <br><br><font color="#ff00ff">Example of a sequence list file for retrieving:</font><pre>
#hypothetical protein from Agrobacterium tumefaciens
gi|17937402
EAK88309	PAN domain containing protein from C.parvum
8.m00179	a Toxoplasma gondii protein
	  </pre>
	</td>
     </tr> 

</TABLE>


<!-- END CONTENT -->

<TMPL_INCLUDE footer.tmpl>
