
<TMPL_INCLUDE header.tmpl>

<!-- BEGIN CONTENT -->
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.tooltip.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie-1.0.0.js"></script>
<script type="text/javascript" src="/js/group.js"></script>
<link href="/css/group.css" rel="stylesheet" type="text/css" />
<link href="/css/jquery.tooltip.css" rel="stylesheet" type="text/css" />

<div id="taxons">
<TMPL_LOOP NAME=TAXONS>
<div class="taxon" taxon-id="<TMPL_VAR NAME=TAXON_ID>" parent="<TMPL_VAR NAME=PARENT_ID>" abbrev="<TMPL_VAR NAME=ABBREV>" 
     leaf="<TMPL_VAR NAME=IS_SPECIES>" index="<TMPL_VAR NAME=INDEX>" common-name="<TMPL_VAR NAME=COMMON_NAME>"><TMPL_VAR NAME=NAME></div>
</TMPL_LOOP>
</div>

<div id="groups">

    <!-- error message -->
    <div id="error">
    <!-- ERROR MESSAGE BEGIN -->
      <TMPL_IF NAME="LOOP_ERROR">
      <p align="center"><strong><font color="red">ERROR MESSAGE</font></strong></p>
      <TMPL_LOOP NAME="LOOP_ERROR">
        <p><TMPL_VAR NAME="ERROR"></p>
      </TMPL_LOOP>
    </TMPL_IF>

    <!-- JS CODE BEGIN -->
    <div id="js-code">
      <TMPL_IF NAME="JS_CODE">
        <TMPL_VAR NAME="JS_CODE">
      </TMPL_IF>
    </div>

  <TMPL_IF NAME="GROUP">
  <div class="group" id="group_1">

    <h3 class="caption">Group Summary (<font color="red"><TMPL_VAR NAME="GROUP_ACCESSION"></font>)</H3>
    <hr />
    
    <div id="taxon-display"></div>

    <div align="center">
      <table class="group-detail" border="1" cellspacing="0" cellpadding="2">
		      <tr>
		        <td bgcolor="#ffeeee" align="center"># Sequences</td>
		        <td bgcolor="#ffeeee" align="center"># Taxa</td>
		        <td bgcolor="#eeffff" align="center"># Match Pairs (%)</td>
		        <td bgcolor="#eeffff" align="center">Ave E-Value</td>
		        <td bgcolor="#eeffff" align="center">Ave % Coverage</td>
		        <td bgcolor="#eeffff" align="center">Ave % Identity</td>
    <!--		    <td bgcolor="#eeffff" align="center">Ave DCS</td>
    -->
		      </tr>
		      <tr>
		        <td bgcolor="#ffeeee" align="center"><TMPL_VAR NAME="NO_SEQUENCES"></td>
		        <td bgcolor="#ffeeee" align="center"><TMPL_VAR NAME="NO_TAXA"></td>
		        <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="NO_MATCH_PAIRS"> (<TMPL_VAR NAME="PERC_MATCH_PAIRS">%)</td>
		        <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_EVAL"></td>
		        <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_PM"></td>
		        <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_PI"></td>
    <!--		    <td bgcolor="#eeffff" align="center"><TMPL_VAR NAME="AVE_DCS"></td>
    -->
		      </tr>
      </table>
    </div>

     <!-- display link shortcut -->
    <table class="shortcut" border="0" cellpadding="0" cellspacing="0" bgcolor="#003399" width="195">
			    <tr>
			        <td style="padding-left:3px;padding-right:3px;color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:11px;" align="left">
			            <b>Links to <TMPL_VAR GROUP_ACCESSION></b>
			        </td>
			    </tr>
			    <tr>
			        <td bgcolor="#e6ecff" style="border:thin solid #003399;text-align:center;color:#000066;font-family:arial,helvetica,sans-serif;font-size:11px;">
			            <table>
			                <tr><td align="center"></td></tr>
			                <tr>
			                    <td align="center"><font size="2"><a href="<TMPL_VAR DOMARCH_LINK>">Pfam Domain Architecture</a></font></td>
			                </tr>
			                <tr>
			                    <td align="center" nowrap>
			                        <font size="2">
			                            <TMPL_IF BIOLAYOUT_LINK>
			                                <a href="<TMPL_VAR BIOLAYOUT_LINK>">BioLayout Graph</a>
			                            <TMPL_ELSE>
			                                <font color="#666666">No Biolayout Graph (too big)</font>
			                            </TMPL_IF>
			                        </font>
			                    </td>
			                </tr>
			                <tr>
			                    <td align="center" nowrap>
			                        <font size="2">
			                            <TMPL_IF MSA_LINK>
			                                <a href="<TMPL_VAR MSA_LINK>">Multiple Sequence Alignment</a>
			                            <TMPL_ELSE>
			                                <font color="#666666">No Multiple Seq. Alignment (too big)</font>
			                            </TMPL_IF>
			                        </font>
			                    </td>
			                </tr>
			                <tr><td align="center"><font size="2"><a href="<TMPL_VAR SEQUENCE_LINK>">Get Sequences (FASTA)</a></font></td></tr>
			            </table>
			        </td>
			    </tr>
    </table>

    <div id="legend">
      <div class="count"><span count="0">&nbsp;0&nbsp;</span> no ortholog; </div>
      <div class="count"><span count="1">&nbsp;1&nbsp;</span> one ortholog; </div>
      <div class="count"><span count="2">&nbsp;n&nbsp;</span> more than one ortholog; </div>
    </div>

    <div id="control">
       <input id="showDetail" type="checkbox" checked="true" />group details <br />
       <input id="showPhyletic" type="checkbox" checked="true" />phyletic patterns <br />
       <input id="showCount" type="checkbox" checked="true" />pattern labels &amp; counts <br />
    </div>

    <div class="count-data">
<TMPL_LOOP NAME=TAXON_GENES>
<div class="count" taxon-id="<TMPL_VAR NAME=TAXON_ID>"><TMPL_VAR NAME=GENE_COUNT></div>
</TMPL_LOOP>
    </div>

    <div class="phyletic-pattern"></div>

  </div> <!-- end of group -->
  </TMPL_IF>


<div id="sequences">
  <!-- SEQUENCE PAGER START -->
  <hr />
  <H3>List of Protein Sequences</strong></H3>

  <TMPL_UNLESS NAME="GROUP">
    <div id="query">
      <H3> Sequence Query Result</H3>
      <p> Your Query is : <strong><TMPL_VAR NAME="QUERY_CODE"></strong> (<TMPL_VAR NAME="QUERY_TYPE">)</p>
      <p> Sequence Search Result : <strong><TMPL_VAR NAME="NUM_SEQUENCES"></strong> Protein Sequences</p>
    </div>

    <hr />

    <div class="pager">

      <FORM action="cgi-bin/OrthoMclWeb.cgi?">
         <tr><td BGCOLOR=#eceff5 COLSPAN='2' ALIGN=CENTER>
           <strong>SEQUENCE #<TMPL_VAR SEQUENCE_NUM_S> ~ #<TMPL_VAR SEQUENCE_NUM_E> / <TMPL_VAR NUM_SEQUENCES></strong>
         </td></tr>
         <tr><td BGCOLOR=#eceff5 COLSPAN='2' ALIGN=CENTER>
         <TMPL_UNLESS ONEPAGE>
            <TMPL_VAR PAGER_PREV>
            <TMPL_VAR PAGER_JUMP>
            <TMPL_VAR PAGER_NEXT>
            <INPUT TYPE="hidden" NAME="rm" VALUE="sequenceList"> 
            Jump to page:<INPUT TYPE="text" SIZE="4" NAME="PAGE_JUMP_BOTTOM"> / <TMPL_VAR NAME="NUM_PAGES"> <INPUT TYPE="button" VALUE="Go!" onClick="PAGER_set_offset_and_submit((parseInt(this.form['PAGE_JUMP_BOTTOM'].value) - 1) * <TMPL_VAR ROWSPERPAGE>);">
            <TMPL_VAR NAME="PAGER_HIDDEN">
         </TMPL_UNLESS>
         </td></tr>
      </FORM>

    </div>

    <hr />

  </TMPL_UNLESS>
<!-- SEQUENCE PAGER END -->



<!-- LIST OF PROTEIN SEQUENCES START -->
     <table border="1" cellspacing="0" cellpadding="2">
       <tr bgcolor="#aaaaaa">
         <th width="5%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Number</th>
         <th width="10%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Accession</th>
	 <TMPL_UNLESS NO_GROUPAC>
	 <th width="10%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff"\>Group</th>
	 </TMPL_UNLESS>
         <th width="25%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Taxon</th>
         <th width="6%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Length</th>
         <th width="19%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Previous Groups</th>
         <th width="25%" align="center" bgcolor="#444488"><FONT COLOR="#ffffff">Description</th>
       </tr>

<TMPL_LOOP NAME="PAGER_DATA_LIST">
  <TMPL_IF NAME="__ODD__">
       <tr bgcolor="#dddfee">
  </TMPL_IF>
  <TMPL_IF NAME="__EVEN__">
       <tr bgcolor="#eceff5">
  </TMPL_IF>
         <td align="center"><TMPL_VAR SEQUENCE_NUMBER></td>
         <td align="center">
            <a href="<TMPL_VAR SEQUENCE_LINK>">
                <TMPL_VAR SEQUENCE_TAXON_ABBREV>|<TMPL_VAR SEQUENCE_ACCESSION>
            </a>
         </td>
	<TMPL_IF GROUP_ACCESSION>
	 <td align="center">
	 <TMPL_IF GROUP_LINK><a href="<TMPL_VAR GROUP_LINK>"></TMPL_IF>
	 <TMPL_VAR GROUP_ACCESSION>
	 <TMPL_IF GROUP_LINK></a></TMPL_IF>
	 </td>
        </TMPL_IF>
         <td align="center"><i><TMPL_VAR SEQUENCE_TAXON></i></td>
         <td align="center"><TMPL_VAR SEQUENCE_LENGTH></td>
         <td align="center"><TMPL_VAR PREVIOUS_GROUPS></td>
         <td align="center">
	   <TMPL_VAR SEQUENCE_DESCRIPTION>
	 </td>
      </tr>
</TMPL_LOOP>
     </table>
<!-- LIST OF PROTEIN SEQUENCES END -->


<!-- SEQUENCE PAGER START -->
  <TMPL_UNLESS NAME="GROUP">

    <hr />

    <div class="pager">

      <FORM action="cgi-bin/OrthoMclWeb.cgi?">
         <tr><td BGCOLOR=#eceff5 COLSPAN=3 ALIGN=CENTER>
           <strong>SEQUENCE #<TMPL_VAR SEQUENCE_NUM_S> ~ #<TMPL_VAR SEQUENCE_NUM_E> / <TMPL_VAR NUM_SEQUENCES></strong>
         </td></tr>
         <tr><td BGCOLOR=#eceff5 COLSPAN=3 ALIGN=CENTER>
         <TMPL_UNLESS ONEPAGE>
            <TMPL_VAR PAGER_PREV>
            <TMPL_VAR PAGER_JUMP>
            <TMPL_VAR PAGER_NEXT>
            <INPUT TYPE="hidden" NAME="rm" VALUE="sequenceList"> 
            Jump to page:<INPUT TYPE="text" SIZE="4" NAME="PAGE_JUMP"> / <TMPL_VAR NAME="NUM_PAGES"> <INPUT TYPE="button" VALUE="Go!" onClick="PAGER_set_offset_and_submit((parseInt(this.form['PAGE_JUMP'].value) - 1) * <TMPL_VAR ROWSPERPAGE>);">
            <TMPL_VAR NAME="PAGER_HIDDEN">
         </TMPL_UNLESS>
         </td></tr>
      </FORM>

    </div>

  </TMPL_UNLESS>
<!-- SEQUENCE PAGER END -->

</div> <!-- end of sequences -->

</div> <!-- end of groups -->

<!-- END CONTENT -->

<TMPL_INCLUDE footer.tmpl>
