<TMPL_INCLUDE header.tmpl>
<!-- BEGIN CONTENT -->
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td colspan="2">&nbsp;</td>
     </tr>
    <tr>
      <td colspan="2">
      <TMPL_IF ACKEYWORD>
        <h3>Query <i>Protein Sequences</i> by Accession/Keyword</h3>
      </TMPL_IF>
      <TMPL_IF BLAST>
        <h3>Query <i>Protein Sequences</i> by BLAST Search</h3>
      </TMPL_IF>
      </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#326495"><img src="/images/spacer.gif" width="1" height="1"></td>
    </tr>
    <tr height=15>
      <td colspan="2"></td>
    </tr>
<TMPL_IF ACKEYWORD>
    <tr>
       <td colspan="2" align="center"><table width="600">
          <tr><td colspan="2">Find Protein Sequence(s) By Accession/Keyword</td></tr>
          <tr>
            <form action="cgi-bin/OrthoMclWeb.cgi" method="post">
            <td width="75%" align="right">
              <input type="hidden" name="rm" value="sequenceList">
              <input type="text" size=20 name="q" value="tubulin">
              &nbsp;in&nbsp;
              <select name="in">
                 <option>Keyword</option>
                 <option>Accession</option>
                 <option>Old Group Accession</option>
                 <option>Taxon_Abbreviation</option>
		 <option>Pfam_Accession</option>
		 <option>Pfam_Name</option>
		 <option>Pfam_Keyword</option>
              </select>
	    </td>
            <td align="left"><input type="submit" value="GO!"></td>
            </form>
          </tr>
	  <tr><td colspan="2">
	  <br><br>
<!--
OrthoMCL-DB internal sequence accession, e.g. <font color="#ff00ff">tgo1</font>,
-->
	  <p> Use this tool to <b>find protein sequences</b>. To find ortholog groups by keyword, sequence accession or group accession go to <a href="cgi-bin/OrthoMclWeb.cgi?rm=groupQueryForm&type=ackeyword">Search for Groups by Keyword/Accession</a>. Or, run a query here and go to <a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryHistory">Query History - Sequences</a> and click on <b>SEQUENCE QUERY INTO GROUP QUERY</b> to find the associated groups.

          <p>You can query by keyword (case insensitive), sequence accession (e.g. <font color="#ff00ff">At1g20570.1</font> or <font color="#ff00ff">ath|At1g20570.1</font>), taxon abbreviation (e.g. <font color="#ff00ff">sce</font>), Pfam domain accession (e.g. <font color="#ff00ff">PF00018</font>), Pfam domain name (e.g. <font color="#ff00ff">SH3_1</font>) and Pfam domain keyword (case insensitive).
          <p> Sequence accessions used in OrthoMCL-DB are those obtained from the source of the genome.  The source is not always Genbank/EMBL/DDBJ, so the accessions are not necessarily from there.  To be sure which type of accession you should use to find a sequence, refer to the <a href="cgi-bin/OrthoMclWeb.cgi?rm=genome&type=data">Data Sources</a> which lists the sources of each genome.
          <p> Accession search supports a space delimited list of accessions, (e.g. <font color="#ff00ff">NP_227932.1 aae|NP_214494.1 NP_662282.1</font>).</p>
          <p> Old Group Accession supports a single group accesion from version 2 or version 1.(e.g. <font color="#ff00ff">OG2_76859, OG1_6765</font>).
	  <p> Keyword search supports boolean mode, and here are some examples:
      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">ubiquitin | conjugating | enzyme</font>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain either one of the three words.
      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">ubiquitin conjugating enzyme</font>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain all three words of "ubiquitin", "conjugating", "enzyme", in any order.
      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">ubiquitin - conjugating</font>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain the word "ubiquitin" but not "conjugating". The spaces on both sides of the Hyphen are necessary.
      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">ubiquitin-conjugating</font>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain the word "ubiquitin-conjugating", where the the Hyphen is treated as regular character.
      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">ubi*</font>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain words starting with "ubi". The wildcard can be at the end of the keyword ("ubi*"), or within it ("ubi*tin"), but cannot by at the beginning of the keyword.
      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">"ubiquitin-conjugating enzyme"</font>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain the exact phrase "ubiquitin-conjugating enzyme".
      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/bullet.gif"><font color="#ff00ff">(ubiquitin conjugating) | enzyme</font>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;Find sequences whose descriptions contain the either "enzyme", or both "ubiquitin" and "conjugating".
	  <p>To combine the results of Sequence Searches (using union, intersect and minus), go to your <a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryHistory">Sequence Query History</a>.
	  </td></tr>
       </table></td>
    </tr>
</TMPL_IF>
<TMPL_IF BLAST>
   <tr>
     <td>
	<form action="cgi-bin/OrthoMclWeb.cgi" method="post">
<!--
	<input type="hidden" name="rm" value="sequenceList">
	<input type="hidden" name="in" value="blast">
-->
	<input type="hidden" name="rm" value="blast">
	<p>Paste your protein query sequence here (BLASTP E-value cutoff = 1e-5):<br>
	<textarea name="q" rows=10 cols=70>
	</textarea>
	<p><input type="submit" name="blastSeq" value="Search by BLAST">
	  <p>To combine the results of Sequence Searches (using union, intersect and minus), go to your <a href="cgi-bin/OrthoMclWeb.cgi?rm=sequenceQueryHistory">Query History - Sequences</a>.
	</form>
     </td>
   </tr>
</TMPL_IF>
</table>
<!-- END CONTENT -->
<TMPL_INCLUDE footer.tmpl>
