#
# these change with each OrthoMCL Release
#
resultBaseUrl=http://orthomcl.org/cgi-bin/orthomclresult/   
blastDbFilePath=/ifs/eupathdb/OrthoMCL/5/proteinsBlastDb/proteinSeqs
groupsFile=/eupath/data/apiSiteFiles/downloadSite/OrthoMCL/release-5/groups_OrthoMCL-5.txt.gz

#
# these are static across releases
#
controlDir=/var/www/Common/tmp/orthomclProteomeJob         
resultDir=/var/www/Common/tmp/orthomclProteomeJob/results
clusterServerDir=/ifs/eupathdb/OrthoMCL/orthomclProteomeJob
clusterUserName=sfischer    
#clusterServer=beta.genomics.upenn.edu
# clusterServer corresponds to a Host in executor's ~/.ssh/config
clusterServer=orthomclProteomeJob-cluster
clusterQueue=apidb
numNodes=10
slotsPerNode=2
ppn=2
nodePath=/scratch/user/sfischer
nodeClass=DJob::DistribJob::SgeNode
taskSize=100
taskClass=DJob::DistribJobTasks::BlastSimilarityTask
blastArgs=-a 1 -F 'm S' -v 1000 -b 1000  -e 1e-5
blastBinDir=/ifs/eupathdb/share/pkg/bio/current
mclBin=$GUS_HOME/bin/mcl
