
# Full URL for orthmclresult CGI script. Trailing slash required.
resultBaseUrl=http://orthomcl.org/cgi-bin/orthomclresult/   

# email to receive "server error" and other notifications requiring attention
adminEmail=mheiges@gmail.com

##############################################################################
# these change with each OrthoMCL Release
##############################################################################

# path to the blast database on the cluster
blastDbFilePath=/scratch/jcklab/eupath/OrthoMCL/5/proteinsBlastDb/proteinSeqs

# OrthoMCL groups file on webserver. This is the same file that is made available for download
# so can just use that. The OrthoMCLShared/MapProteomeService/bin/orthomclMapProteomeToGroups 
# script uses this.
groupsFile=/var/www/Common/apiSiteFilesMirror/downloadSite/OrthoMCL/release-5/groups_OrthoMCL-5.txt.gz


##############################################################################
# Webserver directories. These are static across releases.
##############################################################################

# working directories on webserver
controlDir=/home/mheiges/OrthoMCL-dev/tmp/orthomclProteomeJob         
resultDir=/home/mheiges/OrthoMCL-dev/tmp/orthomclProteomeJob/results

# location of NCBI's formatdb command on webserver
formatdbBinDir=/opt/ncbi-blast2/bin

# location of mcl command on webserver
mclBin=$GUS_HOME/bin/mcl

##############################################################################
# cluster specific
##############################################################################

# Parent director for cluster working directories {phase1,phase2}/{failedJobs,runningJobs}
clusterServerDir=/scratch/jcklab/eupath/OrthoMCL/orthomclProteomeJob

# clusterServer corresponds to a Hostname in executor's ~/.ssh/config, e.g.
#          Host orthomclProteomeJob-cluster
#              Hostname rcluster.rcc.uga.edu
#              IdentityFile ~/.ssh/orthomclProteomeJob
#              IdentitiesOnly yes
#              User mheiges
#              ForwardX11 no
#              ForwardAgent no
clusterServer=orthomclProteomeJob-cluster

# Cluster login username. This cluster user should have the public key installed for the
# IdentityFile specified in ~/.ssh/config
clusterUserName=mheiges    

# Cluster queue name where BLAST tasks will be run.
clusterQueue=mri-q64-30d

# temporary scratch space for DJob
nodePath=/scratch/jcklab/eupath/OrthoMCL/

# parent directory on cluster for the NCBI blastall executable
blastBinDir=/usr/local/ncbiblast/bin

# A file on the cluster for prepping the bash environment (setting GUS_HOME, etc). This is used 
# instead of the user's .bashrc to ensure a stable running environment.
# Use full path or path relative to $HOME
rcfile=/scratch/jcklab/eupath/OrthoMCL/GUS/setenv

##############################################################################
# DJob blast task settings.
# These are static across releases and SGE-based clusters.
##############################################################################

numNodes=5
slotsPerNode=1
ppn=1
nodeClass=DJob::DistribJob::SgeNode
taskSize=100
taskClass=DJob::DistribJobTasks::BlastSimilarityTask
blastArgs=-a 1 -F 'm S' -v 1000 -b 1000  -e 1e-5
