
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TAGS 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


a:link, a:visited {
	color: #2c5986;
}

a:hover, a:active {
	color: #610b0b;   /* red like in crypto */     /*    #88a3bc;  */
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Arrow Chains 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.selectedarrow {
   border-color: #b16565;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =Fonts 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
	color: #626262;  /* dark grey  */
}
h2 {
  	color: #626262;
}
.h2center, .h3left, .h3center,  .h4left {
        color: #610b0b;   /* reddish */
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =TABLES 
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

td.headerrow {
	color: #505453;
	background-image: url(../images/trheader.png);
}


tr.headerrow {
	color: #505453;
}

tr.headerrow th, .flexigrid tr.headerrow th#primary_key:hover {
	background-image: url(../images/trheader.png);
}

.flexigrid tr.headerrow th:hover {
	background-image: url(../images/trhover.png);
}

td.subheaderrow {
	background-image: url(../images/trsubhead.png);
}

tr.subheaderrow th {
	background-image: url(../images/trsubhead.png);
}


tr.subheaderrow th {
	border-color: #51575b;
}

tr.headerrow th { 
	border-color: #51575b;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 =MISC 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
span.marker a:link, span.marker a:visited {
	color: #7D0101;
}

/* APPLICATION PAGE STYLES */

#strategy_tabs a:link, #strategy_tabs a:visited {
    background-color: #e4eaf0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  = for old UI with new graphics (deprecated)  
        RETHINK this section, CryptoDB.css does not have it
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 = styles for blockUI popups
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.blockMsg{
	border: 2px solid #14426d;
}

.blockPage{
	background-image: url(../images/footer.png);
}

.flexigrid div.hDiv
{
	background-image:url(../images/trheader.png);
}

.flexigrid div.hDiv th.thMove
{
	background-image:url(../images/trheader.png);
}

div.colCopy
{
	background-image:url(../images/trheader.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 filter_menu.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#query_form {
	border: 1px solid #345d9b;	
}



/*THE END */
