body {
	background: white;
	color: black;
        font-family:Arial, helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    white-space: normal;
}

em {
	color: red;
	font-style: italic
}

hr {
	border: 1px solid #AcAcAc;   /*colors in logo: green --49b749;*/  
   	background-color: #ffffa0;   /*colors in logo: yellow --ffffa0; */
	height: 4px;
        clear: both /* So that it renders below the floated #contentwrapper on strategies page */
}

#footer {
	text-align:center;
}

#footer span {
	font-family:Arial, helvetica, sans-serif;
	color:#060606;
	font-style:italic;
}

#footer img {
	padding: 5px;
}

.fixed {
	font-family:monospace;
	color:#000000;
}


div#siteLogoBanner,div#tabsLogin {
	margin:3px;
}

span.bannerh1 {
	color: #626262;
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        margin-bottom: 14px;
	position:absolute;
	top:2em;
	right:11em;  //6em;
	font-size:22px;
}


#cirbulletlist ul, #cirbulletlist ol {
	list-style-type: disc;
	margin-left:  1em;
	padding-left: 1em;
	list-style-position: outside;
}


#strat-instructions-2 img#ns-arrow {
	left:-64px;
}

div#leftLinks td {
	text-align:center;
	border-top:3px solid #e5f199;  /* yellow */
	border-left:3px solid #e5f199; 
	border-right:3px solid #7cba7c;   /* green */
	border-bottom:3px solid #7cba7c; 
	padding:5px;
	vertical-align:middle;
}
